# ------------------------------------------------
# RailSwitch - Paystack
# Ghana, South Africa
# ------------------------------------------------
PAYSTACK_GH_SECRET_KEY=
PAYSTACK_ZA_SECRET_KEY=
PAYSTACK_CALLBACK_URL=

# ------------------------------------------------
# RailSwitch - Bachs
# Nigeria
# ------------------------------------------------
BACH_API_KEY=
BACH_BASE_URL=https://sandbox-api.bachs.io

# ------------------------------------------------
# RailSwitch - Stripe
# United States, Canada
# ------------------------------------------------
STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
